@import "mixin";
@import "var";
@import "fullPage";

* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

.home-container {
  @include fullPage;
  @include flexBox;
  background-color: $primary-color;
  color: $primary-text-color;
  @include h1Text;
}

.code-container {
  @include fullPage;
  @include flexBox;
  background-color: $secondary-color;
  color: $primary-text-color;
  @include h1Text;
}

.start-container {
  @include fullPage;
  @include flexBox;
  background-color: $tirtiary-color;
  color: $primary-text-color;
  @include h1Text;
}
